@{
    ViewData["Title"] = "Delete Confirmed";
}

<div class="text-center">
    <h1>Delete Was Successful!</h1>
</div>
<a href='@Url.Action("GetAllPaged","Brains" )' class="btn btn-css"> Display All Users </a>
