
@{
    Layout = null;
    ViewData["Title"] = "Password Changed";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1 class="main-h1">Password Changed!</h1>
    <p class="main-p">Success!</p>
    <p class="main-p">Please try and login using your new password: </p>
    <p class="main-p"><a href="@TempData["login_again"]">Login Again</a></p>
</body>
</html>
