@model Website.Dtos.Users.UserLoginDto

@{
    ViewData["Title"] = "Admin Login Page";
    Layout = "";        /* deactivate the laout page and nav bar */
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1 class="main-h1">Hello Admin!</h1>
        </div>
        <div id="loginform" class="form">
            <form asp-controller="Brains" asp-action="SignInButton" method="post">
                @Html.AntiForgeryToken()
                <ul>
                    <li><input asp-for="Username" type="text" placeholder="Username or Email" required /></li>
                    <li><input asp-for="Password" type="password" placeholder="Password" required /></li>
                    <li><button class="btn" type="submit">Log In</button></li>
                </ul>
            </form>
        </div>
        <div id="errormsg" class="errormsg">
            <p>@ViewBag.errorMsg</p>
        </div>
    </div>
</body>
